[alias]
  gco = checkout
  gci = git commit
  gst = git status
  gbr = git branch
  ghist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  gtype = cat-file -t
  gdump = cat-file -p
  ga = addt 
